.map-canvas {
    background: url("../../img/map_square.png") no-repeat;
}

div.floating-banner {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 40vh;
  left: 40vw;
  z-index: 10;
  padding: 40px;
  background-color: white;
  display: none;
}

.grid-table {
   display: grid;
   grid-template-columns: 1122px auto;
}

.control-panel {
}

.grid-timer-times {
   display: grid;
   grid-template-columns: 80px auto 80px;
}

.grid-timer-times div {
    text-align: center;
}

.grid-control-btn {
    display: grid;
    grid-template-columns: auto 80px;
}

.grid-period-selector {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: .5em;
}

.grid-period-selector div {
    text-align: center;
    cursor: pointer;
    border: 1px solid #bebebe;
}

.grid-period-selector div:hover {
    text-align: center;
    border: 1px solid #999999;
}

div.period-cached {
    color: #2020b0;
}